body {
  margin: 0;
  background: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  margin: 10px;
  background: lightgrey;
  flex: 1;
}

header, footer {
  text-align: center;
  margin: 5px;
}